<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"><title>Warriors Destiny</title></head>

<body class="bg-theme bg-theme2">

<!-- Start wrapper-->
<div id="wrapper">
    <!--Start sidebar-wrapper-->
<div th:replace="~{fragments/sideBar}"></div>

    <div th:replace="~{fragments/topBar}"></div>

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">

            <!--Start Dashboard Content-->

            <div class="card mt-3">
            </div><!--End Row-->

            <!--End Dashboard Content-->

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->


    <!--Start Back To Top Button-->
    <a class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <footer th:replace="~{fragments/commons::footer}">
    </footer>
</div><!--End wrapper-->

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
