<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
    <title></title></head>

<body class="bg-theme bg-theme2">
<div id="wrapper">

    <div th:replace="~{fragments/sideBar}"></div>
    <div th:replace="~{fragments/topBar}"></div>
    <div class="content-wrapper" th:object="${inventory}">
        <div class="container-fluid">
            <div class="row mt-3 text-center">
                <a th:each="item:${inventory}" th:href="@{/items/details/{itemID}(itemID = ${item.id})}"
                   class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.name}"></h5>
                            <img th:if="${equippedItems.contains(item.getId())}" src="/images/equipped.png"
                                 class="inventory-image-icon-small text-right"
                                 alt="image">
                            <img th:src="@{${'/images/' + item.getType().name()+ '.png'}}" class="inventory-image-icon"
                                 alt="image">
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="overlay toggle-menu"></div>
    </div>
</div>

<div th:replace="~{fragments/scripts}"></div>
</body>
</html>