<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title></title></head>
<body class="bg-theme bg-theme2">

<div id="wrapper">

    <div th:replace="~{fragments/sideBar}"></div>
    <div th:replace="~{fragments/topBar}"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Ranking by level</h5>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Level</th>
                                <th scope="col">Class</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="hero,rank:${ranking}">
                                <th scope="row" th:text="${rank.index+1}"></th>
                                <td><a th:href="@{/hero/details/{heroID}(heroID = ${hero.id})}" class="btn-link"
                                       th:text="${hero.name}"></a>
                                </td>
                                <td th:text="${hero.level}"></td>
                                <td th:text="${hero.heroClass.name()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay toggle-menu"></div>
    </div>
</div>
<div th:replace="~{fragments/scripts}">
</div>
</body>
</html>