<div xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="sidebar" id="sidebar-wrapper"
     data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
        <a th:href="@{/}">
            <img src="/images/logo-icon.png" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">Warriors Destiny</h5>
        </a>
    </div>
    <ul class="sidebar-menu do-nicescrol">
        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/home}">
                <i class="zmdi zmdi-assignment"></i> <span>Home</span>
            </a>
        </li>

        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/ranking}">
                <i class="zmdi zmdi-accounts"></i> <span>Ranking</span>
            </a>
        </li>

        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/inventory}">
                <i class="zmdi zmdi-grid"></i> <span>Inventory</span>
            </a>
        </li>
        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/spells}">
                <i class="zmdi zmdi-album"></i> <span>Spells</span>
            </a>
        </li>

        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/shop}">
                <i class="zmdi zmdi-balance"></i> <span> Shop</span>
                <!--                <small class="badge float-right badge-light">New</small>-->
            </a>
        </li>

        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/battle}">
                <i class="zmdi zmdi-alert-polygon"></i> <span>Battle</span>
            </a>
        </li>


        <li>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">
                <i class="zmdi zmdi-face"></i> <span>Admin Panel</span>
            </a>
        </li>

        <li>
            <a sec:authorize="isAnonymous()" th:href="@{auth/login}">
                <i class="zmdi zmdi-lock"></i> <span>Login</span>
            </a>
        </li>

        <li>
            <a sec:authorize="isAnonymous()" th:href="@{auth/register}">
                <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
            </a>
        </li>
    </ul>
</div>